<main>
    <div class="header">
        <h1 class="header-title">Enzo de Aguiar Rodrigues</h1>
    
        <h4 class="data">Dados Pessoais</h4>
        <p class="data">Bairo: Jardim Santo Cruz, 13323-540</p>
        <p class="data">Salto, São Paulo</p>
        <p class="data">Celular: (11) 97474-6553</p>
        <p class="data">enzrodrigues164gmail.com</p>
        <p class="data">linkedin: https://www.linkedin.com/in/enzo-aguiar-rodrigues-950480278</p>

        <hr />
    </div>

    <div class="box">
        <h4 class="data">Objetivo:</h4>
        <p class="data">
            Atuar como estagiário na área de desenvolvimento de software, 
            com o intuito de aprender e colaborar em projetos de programação e criação 
            de soluções tecnológicas. Busco ganhar experiência no mercado de tecnologia, 
            aprimorar minhas habilidades em desenvolvimento de sistemas e contribuir para 
            a criação de soluções inovadoras e eficientes.
        </p>
    </div>

    <div class="box">
        <h4 class="data">Tecnologias:</h4>
        <p class="data">
            React <br>
            Angular <br>
            HTML <br>
            CSS <br>
            JavaScript <br>
            Node JS <br>
            C
        </p>
    </div>

    <div class="box">
        <h4 class="data">Educação:</h4>
        <p class="data">
            Análise e Desenvolvimento de Sistemas. <br>
            Fatec Itu Dom Amaury Castanho - 2° Semestre. <br>
            Fevereiro de 2024 até Dezembro de 2026 <br> <br>

            E.E. Padre Francisco Rigolin (CAIC) - Ensino médio completo. <br>
            Fevereiro de 2023 até Dezembro de 2023
        </p>
    </div>

    <div class="box">
        <h4 class="data">Cursos:</h4>
        <p class="data">
            Técnico em Informática para a Internet. <br>
            1360 horas – Agosto de 2022 até Dezembro de 2023 <br>
            Fiec Indaiatuba. <br> <br>

            Informática básica.60 horas – Fevereiro de 2022 <br>
            SENAI Itu Ítalo Bologna.
        </p>
    </div>

    <div class="box">
        <h4 class="data">Informções Complementares:</h4>
        <p class="data">
            Inglês básico <br>
            Dezembro 2022 <br>
            Microcamp Salto. <br> <br>

            BootCamp Dev Jr (ainda cursando) <br>
            Março de 2024. <br>
            Abutua.com
        </p>
    </div>

    <p class="foot">Salto, Fevereiro de 2025</p>
    
</main>